@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .color-primary {
    background-image: linear-gradient(to top right, #c02425, #f0cb35);
    -webkit-background-clip: text;
    color: transparent;
  }

  .color-primary-hover:hover {
    background-image: linear-gradient(to top right, #c02425, #f0cb35);
    -webkit-background-clip: text;
    color: transparent;
  }
}
